<header>
  <nav>
    <ul>
      <li class="sections">
        <span class="icon fas fa-bars"></span>
        <span class="text">SECTIONS</span>
      </li>

      <li class="search">
        <span class="icon fas fa-search"></span>
        <span class="text">SEARCH</span>
      </li>
    </ul>
  </nav>

  <div routerLink="/">
    <h1>CAPTECH.IO NEWS</h1>
    <p class="date">{{date}}</p>
  </div>

  <nav>
    <ul>
      <li><a routerLink="/category/world">WORLD</a></li>
      <li><a routerLink="/category/business">BUSINESS</a></li>
      <li><a routerLink="/category/opinion">OPINION</a></li>
      <li><a routerLink="/category/sports">SPORTS</a></li>
      <li><a routerLink="/category/fashion">FASHION &amp; STYLE</a></li>
      <li><a routerLink="/category/video">VIDEO</a></li>
    </ul>
  </nav>
</header>
