@import "main.scss";

header {
  line-height: 1.5;
  margin: 0 auto;
  width: 90%;

  nav {
    margin-top: 1rem;

    ul {
      list-style: none;
    }

    li {
      display: inline;
    }

    .search {
      margin-left: 1rem;
    }

    .icon {
      color: $dark-gray;
      font-size: 1.25rem;
    }

    .text {
      bottom: 0.1875rem;
      color: $light-gray;
      font: 0.75rem "Arvo", serif;
      position: relative;
      transition: color 0.2s ease-in-out;
    }

    li:focus,
    li:hover,
    li:active {
      .text {
        color: $dark-gray;
      }
    }
  }

  h1 {
    border-top: 1px solid $dark-gray;
    color: $dark-gray;
    font: bold 3rem "Arvo", serif;
    margin-top: 1rem;
    padding-top: 1rem;
    text-align: center;
  }

  h2 {
    color: $dark-gray;
    font: normal 1.1875rem "Arvo", serif;
    text-align: center;
  }
}
