@import "main.scss";

$transition-speed: 0.2s ease-in-out;

header {
  line-height: 1.5;
  margin: 0 auto;
  width: 90%;

  nav:first-of-type {
    border-bottom: 1px solid $dark-gray;
    padding: 1rem 0;

    ul {
      list-style: none;
    }

    li {
      display: inline;
    }

    .search {
      margin-left: 1rem;
    }

    .settings {
      float: right;

      .icon {
        margin-left: 0.25rem;
      }
    }

    .icon {
      color: $dark-gray;
      font-size: 1.25rem;
      transition: all $transition-speed;
    }

    .text {
      bottom: 0.19rem;
      font: 0.75rem "Arvo", serif;
      position: relative;
      transition: all $transition-speed;
    }

    .sections .text,
    .search .text {
      color: $light-gray;
    }

    .settings .text {
      color: $light-blue;
    }

    li {
      cursor: pointer;
    }

    .sections:focus,
    .sections:hover,
    .sections:active,
    .search:focus,
    .search:hover,
    .search:active {
      .text {
        color: $dark-gray;
      }
    }

    .settings:focus,
    .settings:hover,
    .settings:active {
      .icon {
        color: $light-blue;
      }
    }
  }

  div {
    cursor: pointer;
    outline: none;

    h1 {
      color: $dark-gray;
      font: bold 3rem "Arvo", serif;
      padding-top: 1.5rem;
      text-align: center;
    }

    .date {
      color: $dark-gray;
      font: 1.19rem "Arvo", serif;
      padding-bottom: 1.5rem;
      text-align: center;
    }
  }

  nav:last-of-type {
    border-top: 1px solid $dark-gray;
    padding: 1rem 0;
    text-align: center;

    ul {
      list-style: none;
    }

    li {
      display: inline;
    }

    li:not(:first-of-type) {
      margin-left: 2rem;
    }

    a {
      border-bottom: 2px solid transparent;
      color: $dark-gray;
      font: 1.19rem "Arvo", serif;
      text-decoration: none;
      transition: all $transition-speed;
    }

    li:focus,
    li:hover,
    li:active {
      a {
        border-bottom: 2px solid $dark-gray;
      }
    }
  }
}
