<header>
  <nav>
    <ul>
      <li class="sections">
        <span class="icon fas fa-bars"></span>
        <span class="text">SECTIONS</span>
      </li>

      <li class="search">
        <span class="icon fas fa-search"></span>
        <span class="text">SEARCH</span>
      </li>

      <li class="settings">
        <span class="text">{{username}}&hellip;</span>
        <span class="icon fas fa-cogs"></span>
      </li>
    </ul>
  </nav>

  <div routerLink="/">
    <h1>CAPTECH.IO NEWS</h1>
    <p class="date">{{date}}</p>
  </div>

  <nav>
    <ul *ngIf="categories">
      <li *ngFor="let category of categories.slice(0, -1)">
        <a
          routerLink="/category/{{category.shortName}}"
          [innerHTML]="category.displayName.toUpperCase() | htmlEntities | nbsp">
        </a>
      </li>
    </ul>
  </nav>
</header>
