@import "main.scss";

$transition-speed: 0.75s ease-in-out;

.text {
  color: white;
  font: 1rem "Arvo", serif;
  line-height: 1.5;
  pointer-events: none;
  position: relative;
}

:host[action="expand"] .text {
  top: -0.75rem;
}

:host[action="hide"] .text {
  top: -0.38rem;
}

.icon {
  color: white;
  font-size: 2.5rem;
  margin-left: 0.25rem;
  pointer-events: none;
  position: relative;
}

@keyframes bounce-down {
    0% { top: 0.0rem; }
   50% { top: 0.5rem; }
  100% { top: 0.0rem; }
}

:host[action="expand"] .animated .icon {
  animation: bounce-down $transition-speed infinite;
}

@keyframes bounce-up {
    0% { bottom: 0.0rem; }
   50% { bottom: 0.5rem; }
  100% { bottom: 0.0rem; }
}

:host[action="hide"] .animated .icon {
  animation: bounce-up $transition-speed infinite;
}
