<div class="not-found-page">
  <main>
    <article>
      <h2 class="headline">Reader Ponders Self-Referential Headline</h2>

      <div class="photo">[PHOTO]</div>

      <p class="caption">A regular reader of CapTech News encounters a strange, self-referential headline and wonders what it could possibly mean.</p>

      <p class="body">
        <span class="placeline">CapTech News</span>
        Merely moments ago, a regular reader of CapTech News encounted a strange, self-referential headline and wondered what it could possibly mean. Hoping to learn more, the reader continued to the body of the article, but the body of the article explained nothing. It was only in the midst of the final sentence that the reader glanced up at the browser's title bar, having been prompted to do so by the article itself, and realized that the article was a custom 404 page.
      </p>
    </article>
  </main>
</div>
