@import "main.scss";

$transition-speed: 0.2s ease-in-out;

.category-page ::ng-deep {
  display: flex;
  margin: 0 auto;
  max-width: $app-max-width;
  width: $app-width;

  main {
    article {
      .headline {
        font: italic bold 2.17rem "Arvo", serif;
        line-height: 2.33rem;
      }

      .photo,
      .video {
        height: 0;
        margin-top: 1rem;
        padding: 15% 0;
      }

      .caption {
        font: italic 0.83rem "Arvo", serif;
        line-height: 1.25rem;
      }

      .body {
        font: 0.83rem "Arvo", serif;
        line-height: 1.25rem;
      }
    }
  }

  main.full-width {
    width: 100%;

    .httpErrorResponse {
      font: bold 2.17rem "Arvo", serif;
      line-height: 2.33rem;
      margin-top: 1rem;
      text-align: center;
    }
  }

  main:not(.full-width) {
    box-sizing: border-box;
    padding-right: 1rem;
    width: 60%;
  }

  aside {
    border-left: 2px solid $light-gray;
    box-sizing: border-box;
    color: $medium-gray;
    padding-left: 1rem;
    width: 40%;

    article {
      .headline {
        font: italic normal 1.33rem "Arvo", serif;
        line-height: 1.5rem;
      }

      .body {
        font: 1rem "Arvo", serif;
        line-height: 1.25rem;
      }

      .photo {
        height: 0;
        margin: 0.5rem 0;
        padding: 20% 0;
      }
    }
  }

  article {
    margin-top: 1rem;

    .headline {
      cursor: pointer;
      outline: none;
      transition: color $transition-speed;
    }

    .headline:focus,
    .headline:hover,
    .headline:active {
      color: $light-gray;
    }

    .photo,
    .video {
      align-items: center;
      background-color: $dark-gray;
      color: white;
      display: flex;
      font: 1rem "Arvo", serif;
      justify-content: center;
    }

    .caption {
      margin-top: 0.5rem;
    }

    .body {
      margin-top: 1rem;

      .placeline {
        font-weight: bold;
        margin-right: 0.25rem;
      }

      .indent {
        display: inline-block;
        width: 2rem;
      }
    }
  }
}

@media (max-width: 1024px) {
  .category-page {
    main {
      article {
        .headline {
          font-size: 1.75rem;
          line-height: 2rem;
        }

        .photo,
        .video {
          padding: 20% 0;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .category-page {
    flex-wrap: wrap;

    main {
      width: 100%;

      article {
        .headline {
          font-size: 1.5rem;
          line-height: 1.75rem;
        }

        .photo,
        .video {
          padding: 25% 0;
        }
      }
    }

    aside {
      border-left: 0;
      border-top: 2px solid $light-gray;
      margin-top: 1rem;
      padding-left: 0;
      padding-top: 1rem;
      width: 100%;

      article {
        .headline {
          font-size: 1.25rem;
        }

        .photo {
          padding: 25% 0;
        }
      }
    }
  }
}
