<div *ngIf="httpErrorResponse" class="category-page">
  <main class="full-width">
    <p class="httpErrorResponse">{{httpErrorResponse}}</p>
  </main>
</div>

<div *ngIf="!httpErrorResponse" class="category-page">
  <main *ngIf="mainArticle" [class.full-width]="asideArticles && asideArticles.length === 0">
    <article>
      <h2
        class="headline"
        [innerHtml]="mainArticle | headline"
        [routerLink]="mainArticle | routerLink">
      </h2>

      <div *ngIf="displayVideo(mainArticle)" class="video">[VIDEO]</div>
      <div *ngIf="displayPhoto(mainArticle)" class="photo">[PHOTO]</div>

      <p *ngIf="displayMultimedia(mainArticle)" class="caption">{{mainArticle | firstSentence}}</p>

      <p class="body">
        <span class="placeline">{{mainArticle | placeline}}</span>

        <span *ngIf="displayMultimedia(mainArticle)" [innerHtml]="mainArticle | fullStory:mainFullStoryOptions"></span>
        <span *ngIf="!displayMultimedia(mainArticle)" [innerHtml]="mainArticle | fullStory"></span>

        <span *ngIf="mainArticle.nsfw" class="nsfw">[NSFW]</span>
      </p>
    </article>
  </main>

  <aside *ngIf="asideArticles && asideArticles.length > 0">
    <article *ngFor="let article of asideArticles">
      <h2
        class="headline"
        [innerHtml]="article | headline"
        [routerLink]="article | routerLink">
      </h2>

      <p class="body">
        <span class="placeline">{{article | placeline}}</span>
        <span [innerHtml]="article | fullStory:asideFullStoryOptions"></span>
        <span *ngIf="article.nsfw" class="nsfw">[NSFW]</span>
      </p>
    </article>
  </aside>
</div>
