@import "main.scss";

$transition-speed: 0.2s ease-in-out;

.article-page ::ng-deep {
  margin: 0 auto;
  width: 90%;

  main {
    .httpErrorResponse {
      font: bold 2.17rem "Arvo", serif;
      line-height: 2.33rem;
      margin-top: 1rem;
      text-align: center;
    }

    article {
      margin-top: 1rem;

      .headline {
        font: italic bold 2.17rem "Arvo", serif;
        line-height: 2.33rem;
      }

      .photo,
      .video {
        align-items: center;
        background-color: $dark-gray;
        color: white;
        display: flex;
        font: 1rem "Arvo", serif;
        height: 0;
        justify-content: center;
        margin-top: 1rem;
        padding: 15% 0;
      }

      .caption {
        font: italic 0.83rem "Arvo", serif;
        line-height: 1.25rem;
        margin-top: 0.5rem;
      }

      .body {
        font: 0.83rem "Arvo", serif;
        line-height: 1.25rem;
        margin-top: 1rem;

        .placeline {
          font-weight: bold;
          margin-right: 0.25rem;
        }

        .indent {
          display: inline-block;
          width: 2rem;
        }
      }

      .comments {
        border-top: 1px solid $dark-gray;
        line-height: 1.5rem;
        margin-top: 1rem;
        padding-top: 1rem;

        h3 {
          font: bold 1.5rem "Arvo", serif;
        }

        form {
          display: flex;
          margin-top: 1rem;

          input {
            border: 1px solid $dark-gray;
            border-radius: 2px;
            flex: 2;
            font: 1rem "Arvo", serif;
            line-height: 1rem;
            outline: none;
            padding: 0.5rem;
          }

          input::placeholder {
            color: $light-gray;
          }

          button {
            margin-left: 1rem;
          }
        }

        .comment {
          .name {
            font: bold 0.83rem "Arvo", serif;
            text-transform: uppercase;
          }

          .date {
            font: 0.83rem "Arvo", serif;
            float: right;
          }

          .text {
            font: 1rem "Arvo", serif;
            margin-top: 1rem;
          }
        }

        .comment:first-of-type {
          margin-top: 2rem;
        }

        .comment:not(:first-of-type) {
          border-top: 1px dotted $light-gray;
          margin-top: 1rem;
          padding-top: 1rem;
        }

        button {
          background-color: $dark-gray;
          border: 1px solid $dark-gray;
          border-radius: 2px;
          color: white;
          font: 1rem "Arvo", serif;
          line-height: 1rem;
          outline: none;
          padding: 0.5rem 1rem;
          transition: all $transition-speed;
        }

        .show-more-button {
          margin-right: 1rem;
        }

        .show-more-button,
        .show-less-button {
          margin-top: 1rem;
        }

        button:focus,
        button:hover,
        button:active {
          background-color: white;
          color: $dark-gray;
        }
      }
    }
  }
}
