<div class="article-page">
  <main *ngIf="httpErrorResponse">
    <p class="httpErrorResponse">{{httpErrorResponse}}</p>
  </main>

  <main *ngIf="!httpErrorResponse">
    <article *ngIf="article">
      <h2 class="headline" [innerHtml]="article | headline"></h2>

      <div *ngIf="displayVideo(article)" class="video">[VIDEO]</div>
      <div *ngIf="displayPhoto(article)" class="photo">[PHOTO]</div>

      <p *ngIf="displayMultimedia(article)" class="caption">{{article | firstSentence}}</p>

      <p class="body">
        <span class="placeline">{{article | placeline}}</span>

        <span *ngIf="displayMultimedia(article)" [innerHtml]="article | fullStory:fullStoryOptions"></span>
        <span *ngIf="!displayMultimedia(article)" [innerHtml]="article | fullStory"></span>

        <span *ngIf="article.nsfw" class="nsfw">[NSFW]</span>
      </p>

      <div class="comments">
        <h3>Comments</h3>

        <form>
          <input placeholder="Post a new comment&hellip;">
          <button>Submit</button>
        </form>

        <div *ngFor="let page of paginatedComments; let pageNumber = index">
          <div *ngIf="pageNumber < pagesDisplayed">
            <div *ngFor="let comment of page" class="comment">
              <p>
                <span class="name">{{comment.name}}</span>
                <span class="date">{{formatDate(comment.createdDate)}}</span>
              </p>

              <p class="text">{{comment.commentText}}</p>
            </div>

            <button
              *ngIf="displayShowMoreButton(pageNumber)"
              class="show-more-button"
              type="button"
              (click)="showMore()">

              Show More
            </button>

            <button
              *ngIf="displayShowLessButton(pageNumber)"
              class="show-less-button"
              type="button"
              (click)="showLess()">

              Show Less
            </button>
          </div>
        </div>
      </div>
    </article>
  </main>
</div>
