@import "main.scss";

.home-page ::ng-deep {
  display: flex;
  margin: 0 auto;
  width: 90%;

  aside:first-of-type {
    box-sizing: border-box;
    padding-right: 0.5rem;
    width: 20%;

    article {
      .headline {
        font: italic bold 1.58rem "Arvo", serif;
        line-height: 1.67rem;
      }

      .body {
        font: 1rem "Arvo", serif;
        line-height: 1.25rem;
      }
    }

    article:not(:first-of-type) {
      border-top: 2px solid $light-gray;
      padding-top: 1rem;
    }
  }

  main {
    box-sizing: border-box;
    padding: 0 0.5rem;
    width: 40%;

    article {
      .headline {
        font: italic 1.33rem "Arvo", serif;
        line-height: 1.67rem;
      }

      .body {
        font: 0.83rem "Arvo", serif;
        line-height: 1.25rem;
      }
    }

    article:first-of-type .video {
      height: 0;
      margin-bottom: 1rem;
      padding: 33.33% 0;
    }

    article:first-of-type .headline {
      font-weight: normal;
    }

    article:not(:first-of-type) .headline {
      font-weight: bold;
    }

    article:last-of-type .photo {
      float: right;
      height: 0;
      margin: 0 0 0.25rem 1rem;
      padding: 12.5% 0;
      width: 25%;
    }
  }

  aside:last-of-type {
    box-sizing: border-box;
    padding-left: 0.5rem;
    width: 40%;

    .opinion {
      display: flex;
      flex-wrap: wrap;

      h2 {
        font: italic normal 1.33rem "Arvo", serif;
        text-align: center;
        margin-top: 1rem;
        width: 100%;
      }

      article {
        width: 50%;

        .headline {
          font: italic normal 1rem "Arvo", serif;
          line-height: 1.25rem;
        }

        .body {
          font: 0.83rem "Arvo", serif;
          line-height: 1.25rem;
        }
      }

      article:first-of-type {
        box-sizing: border-box;
        padding-right: 0.5rem;
      }

      article:last-of-type {
        box-sizing: border-box;
        padding-left: 0.5rem;

        .photo {
          height: 0;
          margin: 0.5rem 0;
          padding: 20% 0;
        }
      }
    }

    .travel {
      display: flex;
      flex-wrap: wrap;

      h2 {
        font: bold 1rem "Arvo", serif;
        margin-top: 1rem;
        overflow: hidden;
        width: 100%;
      }

      h2::after {
        bottom: 0.1rem;
        color: $light-gray;
        content: repeat("\f054", 256);
        font-family: FontAwesome;
        font-size: 0.5rem;
        margin-left: 0.25rem;
        position: relative;
      }

      article {
        width: 50%;

        h3 {
          font: bold 1rem "Arvo", serif;
          line-height: 1.25rem;
        }

        p {
          font: 0.83rem "Arvo", serif;
          line-height: 1.25rem;
        }
      }

      article:first-of-type {
        box-sizing: border-box;
        padding-right: 0.5rem;

        .photo {
          height: 0;
          margin-top: 0.5rem;
          padding: 25% 0;
        }
      }

      article:last-of-type {
        box-sizing: border-box;
        padding-left: 0.5rem;

        .photo {
          height: 0;
          margin-top: 0.5rem;
          padding: 10% 0;
        }
      }
    }
  }

  article {
    margin-top: 1rem;

    .video,
    .photo {
      align-items: center;
      background-color: $dark-gray;
      color: white;
      display: flex;
      font: 1rem "Arvo", serif;
      justify-content: center;
    }

    .body {
      margin-top: 0.5rem;

      .placeline {
        font-weight: bold;
        margin-right: 0.25rem;
      }
    }
  }
}
