<app-banner></app-banner>

<div *ngIf="httpErrorResponse" class="home-page">
  <main class="full-width">
    <p class="httpErrorResponse">{{httpErrorResponse}}</p>
  </main>
</div>

<div *ngIf="!httpErrorResponse" class="home-page">
  <aside *ngIf="aside">
    <article>
      <h3
        class="headline"
        [innerHtml]="aside.articles[0] | headline"
        [routerLink]="aside.articles[0] | routerLink">
      </h3>

      <p class="body">
        <span class="placeline">{{aside.articles[0] | placeline}}</span>
        {{aside.articles[0].snippet}}
        <span *ngIf="aside.articles[0].nsfw" class="nsfw">[NSFW]</span>
      </p>
    </article>

    <article>
      <h3
        class="headline"
        [innerHtml]="aside.articles[1] | headline"
        [routerLink]="aside.articles[1] | routerLink">
      </h3>

      <p class="body">
        <span class="placeline">{{aside.articles[1] | placeline}}</span>
        {{aside.articles[1].snippet}}
        <span *ngIf="aside.articles[1].nsfw" class="nsfw">[NSFW]</span>
      </p>
    </article>
  </aside>

  <main *ngIf="main">
    <article>
      <div *ngIf="main.articles[0].hasVideoPlaceholder" class="video">[VIDEO]</div>

      <h3
        class="headline"
        [innerHtml]="main.articles[0] | headline"
        [routerLink]="main.articles[0] | routerLink">
      </h3>

      <p class="body">
        <span class="placeline">{{main.articles[0] | placeline}}</span>
        {{main.articles[0].snippet}}
        <span *ngIf="main.articles[0].nsfw" class="nsfw">[NSFW]</span>
      </p>
    </article>

    <article>
      <h3
        class="headline"
        [innerHtml]="main.articles[1] | headline"
        [routerLink]="main.articles[1] | routerLink">
      </h3>

      <p class="body">
        <span class="placeline">{{main.articles[1] | placeline}}</span>
        {{main.articles[1].snippet}}
        <span *ngIf="main.articles[1].nsfw" class="nsfw">[NSFW]</span>
      </p>
    </article>

    <article>
      <div *ngIf="main.articles[2].numberOfImages > 0" class="photo">[PHOTO]</div>

      <h3
        class="headline"
        [innerHtml]="main.articles[2] | headline"
        [routerLink]="main.articles[2] | routerLink">
      </h3>

      <p class="body">
        <span class="placeline">{{main.articles[2] | placeline}}</span>
        {{main.articles[2].snippet}}
        <span *ngIf="main.articles[2].nsfw" class="nsfw">[NSFW]</span>
      </p>
    </article>
  </main>

  <aside>
    <section *ngIf="opinion" class="opinion">
      <h2>The Opinion Pages</h2>

      <article>
        <h3
          class="headline"
          [innerHtml]="opinion.articles[0] | headline"
          [routerLink]="opinion.articles[0] | routerLink">
        </h3>

        <p class="body">
          <span class="placeline">{{opinion.articles[0] | placeline}}</span>
          <span [innerHtml]="opinion.articles[0] | fullStory"></span>
          <span *ngIf="opinion.articles[0].nsfw" class="nsfw">[NSFW]</span>
        </p>
      </article>

      <article>
        <h3
          class="headline"
          [innerHtml]="opinion.articles[1] | headline"
          [routerLink]="opinion.articles[1] | routerLink">
        </h3>

        <p class="body">
          <span class="placeline">{{opinion.articles[1] | placeline}}</span>
          <span [innerHtml]="opinion.articles[1] | fullStory:opinionFullStoryOptions"></span>
          <span *ngIf="opinion.articles[1].nsfw" class="nsfw">[NSFW]</span>
        </p>
      </article>
    </section>

    <section *ngIf="travel" class="travel">
      <h2>TRAVEL</h2>

      <article>
        <h3
          class="headline"
          [innerHtml]="travel.articles[0] | headline"
          [routerLink]="travel.articles[0] | routerLink">
        </h3>

        <div *ngFor="let image of (travel.articles[0] | images:2)" class="photo">[PHOTO]</div>
      </article>

      <article>
        <h3
          class="headline"
          [innerHtml]="travel.articles[1] | headline"
          [routerLink]="travel.articles[1] | routerLink">
        </h3>

        <div *ngIf="travel.articles[1].numberOfImages > 0" class="photo">[PHOTO]</div>

        <p class="body">
          <span class="placeline">{{travel.articles[1] | placeline}}</span>
          {{travel.articles[1].snippet}}
          <span *ngIf="travel.articles[1].nsfw" class="nsfw">[NSFW]</span>
        </p>
      </article>
    </section>
  </aside>
</div>
