<app-banner></app-banner>

<div class="home-page">
  <aside>
    <article
      *ngIf="worldArticles"
      [innerHtml]="worldArticles[0] | summary">
    </article>

    <article
      *ngIf="businessArticles"
      [innerHtml]="businessArticles[0] | summary">
    </article>
  </aside>

  <main>
    <article
      *ngIf="sportsArticles"
      [innerHtml]="sportsArticles[0] | summary">
    </article>

    <article
      *ngIf="fashionArticles"
      [innerHtml]="fashionArticles[0] | summary">
    </article>

    <article
      *ngIf="videoArticles"
      [innerHtml]="videoArticles[0] | summary">
    </article>
  </main>

  <aside>
    <section *ngIf="opinionArticles" class="opinion">
      <h1>The Opinion Pages</h1>

      <article [innerHtml]="opinionArticles[0] | summary"></article>
      <article [innerHtml]="opinionArticles[1] | summary"></article>
    </section>

    <section *ngIf="travelArticles" class="travel">
      <h1>TRAVEL</h1>

      <article [innerHtml]="travelArticles[0] | summary"></article>
      <article [innerHtml]="travelArticles[1] | summary"></article>
    </section>
  </aside>
</div>
